---
wordpress_directory: '/var/www/wordpress'

wordpress_plugin_directory: "{{ wordpress_directory }}/wp-content/plugins"
wordpress_theme_directory: "{{ wordpress_directory }}/wp-content/themes"

wordpress_plugins: []
wordpress_themes: []

wordpress__phpversion: "8.2"
