
{% call server([server_name], http='yes', https='osrmorg') %}

    root /var/www/routing;

    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    
    location ~ /\.ht {
           deny all;
    }

    error_page 429 /429.html;
    location /429.html {
        add_header access-control-allow-origin "*" always;
    }

    limit_req_status 429;
    limit_req zone=standard burst=10;
    limit_req zone=table burst=5;
    limit_req zone=tile burst=50;

    access_log /var/log/nginx/router.log anonymized;

    location / {
        rewrite_by_lua_file /etc/nginx/lua/carorgrewrite.lua;
        access_log /var/log/nginx/router.log anonymized;
        access_log /var/log/nginx/routing-times-car.log access_times;
    }

{% for profilearea in osrm__profilearea.keys() %}
    location /routed-{{ profilearea }}/ {
        internal;
        proxy_pass  http://{{ osrm__profilearea[profilearea].host }}.openstreetmap.de:{{ osrm__profilearea[profilearea].port }}/;
    }
{% endfor %}

{% endcall %}

