{
    "extracts": [
        {% for area in item.value %}
        {
            "output": "{{ area }}.pbf",
            "output_format": "pbf",
            "polygon": [ {{ osrm__profilearea[area].poly }} ]
        }{{ "," if not loop.last }}
        {% endfor %}
    ],
    "directory": "{{ osmdatadir }}"
}
        
