object Service "Syn_sent Connections" {
    import "generic-service"

    check_command = "connections"
    host_name = "{{ icinga2_nodename }}"

    vars.connections_state = "syn-sent"
    vars.connections_protocol = "tcp"
    vars.connections_warning = "10000"
    vars.connections_critical = "15000"
}
