object Service "Valhalla build sentinel age" {
    import "generic-service"

    check_command = "file_age"
    host_name = "{{ icinga2_nodename }}"

    vars.file_age_file = "{{ valhalla__sentinel_path }}"
    vars.file_age_warning_time = {{ (valhalla__sentinel_max_age_hours * 3600 * 0.75) | int }}
    vars.file_age_critical_time = {{ valhalla__sentinel_max_age_hours * 3600 }}
}
