---
- name: Check for nginx
  fail:
    msg: nginx and apache cannot be run together.
  when: "(webserver__in_use | default('apache2')) != 'apache2'"
  tags:
    - apache

- name: Mark apache the hosts webserver
  set_fact:
    webserver__in_use: apache2
  tags:
    - apache

- name: Install apache
  ansible.builtin.apt:
    name: apache2
  tags:
    - apache

# Needs to run before mpm change
- name: Disable Apache modules
  community.general.apache2_module:
    name: "{{ item }}"
    state: absent
  with_items: "{{ apache__modules_disable }}"
  tags:
    - apache
  notify:
    - Restart apache2

- name: Switch to correct mpm
  ansible.builtin.include_tasks: mpm.yml
  tags:
    - apache

- name: Disable default site
  apache_site:
    site: 000-default
    state: absent
  tags:
    - apache

- name: localhost site for server-status
  template:
    dest: "/etc/apache2/sites-available/localhost.conf"
    owner: 'www-data'
    group: 'www-data'
    mode: '0644'
    src: "apache_localhost_server-status.conf.jinja"
  notify: reload apache2

- name: enable localhost site
  file:
    src: "/etc/apache2/sites-available/localhost.conf"
    dest: "/etc/apache2/sites-enabled/localhost.conf"
    state: 'link'
    owner: 'www-data'
    group: 'www-data'
  notify: reload apache2

- name: Enable Apache modules
  community.general.apache2_module:
    name: "{{ item }}"
  with_items: "{{ apache__modules }}"
  tags:
    - apache
  notify:
    - Restart apache2
