---
- name: Disable mpm
  community.general.apache2_module:
    name: "mpm_{{ item }}"
    warn_mpm_absent: false
    ignore_configcheck: true
    state: absent
  with_items: "{{ apache__mpm_available | difference([apache__mpm]) }}"
  tags:
    - apache
  notify:
    - Restart apache2

- name: Enable mpm
  community.general.apache2_module:
    name: "mpm_{{ apache__mpm }}"
    warn_mpm_absent: false
    ignore_configcheck: true
  tags:
    - apache

- name: Configure mpm
  ansible.builtin.lineinfile:
    path: "/etc/apache2/mods-available/mpm_{{ apache__mpm }}.conf"
    regex: "^\\s*{{ item.setting }}"
    line: "	{{ item.setting }} {{ item.value }}"
  with_items: "{{ apache__mpm_config }}"
  notify:
    - Restart apache2
  tags:
    - apache

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
  tags:
    - apache
