REMARK_URL={{ weeklyosm__remark42__site_url }}
SITE={{ weeklyosm__remark42__site_id }}
SECRET="{{ weeklyosm__remark42__secret }}"
REMARK_ADDRESS=127.0.0.1
REMARK_PORT=8000
ADMIN_SHARED_ID="{{ weeklyosm__remark42__admin_id }}"

# Deactivate anonymous comments:
AUTH_ANON=false

# OpenStreetMap Custom OAuth
AUTH_CUSTOM_NAME=openstreetmap
AUTH_CUSTOM_CID={{ weeklyosm__remark42__osm_cid }}
AUTH_CUSTOM_CSEC={{ weeklyosm__remark42__osm_csec }}
AUTH_CUSTOM_AUTH_URL=https://www.openstreetmap.org/oauth2/authorize
AUTH_CUSTOM_TOKEN_URL=https://www.openstreetmap.org/oauth2/token
AUTH_CUSTOM_INFO_URL=https://www.openstreetmap.org/oauth2/userinfo
AUTH_CUSTOM_SCOPES=openid
AUTH_CUSTOM_ID_FIELD=sub
AUTH_CUSTOM_NAME_FIELD=preferred_username
#AUTH_CUSTOM_PICTURE_FIELD=user.img.href

# E-Mail Notifications
NOTIFY_USERS=email
NOTIFY_ADMINS=email
NOTIFY_EMAIL_FROM="{{ weeklyosm__remark42__smtp_from }}"
ADMIN_SHARED_EMAIL="{{ weeklyosm__remark42__admin_email }}"

# SMTP Server
SMTP_HOST=127.0.0.1
SMTP_PORT=587
SMTP_TLS=false
SMTP_STARTTLS=true
SMTP_INSECURE_SKIP_VERIFY=true
SMTP_TIMEOUT=10s

# MISC
TZ=Europe/Berlin