{% call server(['3dmr.eu'], http='forward', https='t3dmr') %}

    location /static/ {
        alias {{ t3dmr__basedir }}/static/;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/run/3dmr.sock;
    }

    {{ custom_log('3dmr.eu') }}
{% endcall %}
