---
- name: Install and configure php-fpm
  when: phpfpm__enabled
  tags:
    - phpfpm
  block:
    - name: Include OS version dependent config
      ansible.builtin.include_vars: "{{ item }}"
      with_first_found:
        - "{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"

    - name: Install packages
      ansible.builtin.apt:
        name: "{{ phpfpm__packages }}"
        update_cache: true

    - name: Configure php-fpm pool(s)
      ini_file:
        section: "{{ item.section }}"
        option: "{{ item.option }}"
        value: "{{ item.value }}"
        dest: "{{ phpfpm__poolconfdir }}/{{ item.pool }}.conf"
      with_items: "{{ phpfpm__poolconfig }}"
      notify:
        - Restart php-fpm

    - name: Configure php-fpm
      ini_file:
        section: "{{ item.section }}"
        option: "{{ item.option }}"
        value: "{{ item.value }}"
        dest: "{{ phpfpm__fpmconfigfile }}"
      with_items: "{{ phpfpm__config }}"
      notify:
        - Restart php-fpm

    - name: Configure php for php-fpm
      ini_file:
        section: "{{ item.section }}"
        option: "{{ item.option }}"
        value: "{{ item.value }}"
        dest: "{{ phpfpm__phpconfigfile }}"
      with_items: "{{ phpfpm__phpconfig }}"
      notify:
        - Restart php-fpm

- name: Install and configure php-fpm opcache
  when: phpfpm__enabled and phpfpm__phpopcache_enable
  tags:
    - phpfpm
  block:
    - name: Create opcache directory
      ansible.builtin.file:
        path: "{{ phpfpm__phpopcachedir }}"
        owner: www-data
        group: www-data
        mode: "0750"

    - name: Configure php opcache for php-fpm
      ini_file:
        section: "{{ item.section }}"
        option: "{{ item.option }}"
        value: "{{ item.value }}"
        dest: "{{ phpfpm__phpconfigfile }}"
      with_items: "{{ phpfpm__phpconfig_opcache }}"
      when: phpfpm__phpopcache_enable
      notify:
        - Restart php-fpm
