//
// Do any local configuration here
//

{% if ansible_distribution_major_version != '13' %}
// Consider adding the 1918 zones here, if they are not used in your
// organization
include "/etc/bind/zones.rfc1918";
{% endif %}

zone "openstreetmap.de"      { type master; file "/etc/bind/openstreetmap.de.db"; };
zone "weeklyosm.eu"          { type master; file "/etc/bind/weeklyosm.eu.db"; };
zone "3dmr.eu"               { type master; file "/etc/bind/3dmr.eu.db"; };

