;
; BIND data file for weeklyosm.eu
;
$TTL    3600
@       IN      SOA     {{ dns__master }} info.fossgis.de. (
                           {{ dns_serial }}          ; Serial
                                   2h          ; Refresh
                                   1m          ; Retry
                                   2w          ; Expire
                                   5m )        ; Default TTL

{% for ns in dns__nameserver %}
@                       IN  NS          {{ ns }}
{% endfor %}

@                       IN  A           167.235.234.94
@                       IN  AAAA        2a01:4f8:c012:815d::1
@                       IN  MX  10      mail2.fossgis.de.
@                       IN  TXT         "v=spf1 mx a ip4:167.235.234.94 ip4:78.46.186.101 ip6:2a01:4f8:c012:815d::1 ?all"
2020._domainkey         IN  TXT         "v=DKIM1; h=sha256; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwheeltj9XQtkz8Y88rT1KHBJbPdPpF6GLQ5nXoSpXYD1TRqx2pHaAo07DUgD1rAxtfRSVPQUdleWTvkQXiUWO/CCQK9LAn3I/ptDiwxVw1kMj/S0jNN0h2x68WbRz4fgg8zfb+KDDHPULFGlLlKIpu1ADhM8NNfO8h1eAaWmiGFYT3rNPtppE/Y" "x3pgAPVBCukKoFGai2cmvHFexZoX9ZCkfMdwOPepEdiYM1ioPf5jGhqJ6NuNmrw6YfWgS45i8yzgxe5vRJaeBhw7bNytFvSR3XRQrAAlkfHS2dHmpcnfdqI+04W6htBKhtsIqwHw/4oqLOktxigjB5f7rqg7r7QIDAQAB"
beta                    IN  A           139.17.3.227
www                     IN  A           167.235.234.94
