server {
    listen 127.0.0.1;
    listen [::];
    server_name localhost;

    location /nginx_status {
        # Enable Nginx stats
        stub_status on;
        # Only allow access from localhost
        allow 127.0.0.1;
        allow ::1;
        # Other request should be denied
        deny all;
    }
}

