#!/bin/bash

# uMap Data Backup Script
# Usage: ./backup-umap-data.sh

# Configuration
export BORG_RSH='ssh -i /srv/umap/.ssh/{{ umap__backup_ssh_key_name }}'
export BORG_PASSPHRASE="{{ umap__backup_passphrase }}"
export REPO="ssh://{{ umap__backup_remote_user }}@{{ umap__backup_remote_host }}:{{ umap__backup_remote_port }}/./backups/{{ inventory_hostname }}/umapdata"

# Backup uMap data
nice -n 19 \
ionice -c idle \
        borg create ${REPO}::umapdata-`date +%Y%m%d%H%M` \
        /srv/umap/umapdata \
        -C lz4 \
        --stats \
        --exclude-caches

if [ $? -eq 0 ]; then
    # Prune old backups
    borg prune ${REPO} \
            --keep-daily={{ umap__backup_keep_daily }} \
            --keep-weekly={{ umap__backup_keep_weekly }} \
            --keep-monthly={{ umap__backup_keep_monthly }} \
            --glob-archives="umapdata-*"
    
    # Compact repository
    borg compact ${REPO} >/dev/null 2>&1
    
    echo "uMap data backup completed successfully"
else
    echo "ERROR: uMap data backup failed!"
    exit 1
fi

