[Unit]
Description=Borg Backup uMap Database
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
User={{ umap__user }}
Group=docker
WorkingDirectory={{ umap__paths.host.basedir }}
ExecStart={{ umap__paths.host.basedir }}/scripts/backup/backup-umap-db.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

