DB_NAME={{ umap__dbname }}
DB_USER_UMAP={{ umap__dbuser }}
DB_USER_PASSWORD={{ umap__dbuser_password }}
POSTGRES_HOST_AUTH_METHOD: trust
POSTGRES_USER: {{ umap__dbuser }}
POSTGRES_PASSWORD: {{ umap__dbuser_password }}
POSTGRES_DB: {{ umap__dbname }}
