[Unit]
Description=Clear uMap Ajax Proxy Cache
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
User={{ umap__user }}
Group=docker
WorkingDirectory={{ umap__paths.host.basedir }}
ExecStart=/usr/bin/docker exec umap_app umap clear_proxy_cache --max-age 86400
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
