[Unit]
Description=Run uMap Ajax Proxy Cache Cleanup Daily
Requires=umap-clear-proxy-cache.service

[Timer]
# Run daily at 04:00
OnCalendar=*-*-* 04:00:00
RandomizedDelaySec=3600
Persistent=true

[Install]
WantedBy=timers.target
