networks:
  reverseproxy_web:
    name: reverseproxy_web
#    external: true

services:
  redis:
    image: redis:latest
    container_name: umap_redis
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
    command: ["redis-server"]
    volumes:
      - umap_redis:/data
    restart: always
    logging:
      driver: journald
    networks:
      - reverseproxy_web

  db:
    image: postgis/postgis:17-3.5-alpine
    container_name: umap_db
    env_file: ./database.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d {{ umap__database_name }} -U {{ umap__database_user }}"]
      interval: 2s
      timeout: 5s
      retries: 5
    volumes:
      - umap_db:/var/lib/postgresql/data
    environment:
      - POSTGRES_LOG_MIN_DURATION_STATEMENT=0
      - POSTGRES_LOG_STATEMENT=all
      - POSTGRES_LOG_DESTINATION=stderr
    restart: always
    logging:
      driver: journald
    networks:
      - reverseproxy_web

  app:
    # Custom WSGI Image mit WebSocket-Unterstützung
    build:
      context: .
      dockerfile: Dockerfile
      args:
        UMAP_VERSION: {{ umap_version | default('release') }}
    container_name: umap_app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - SOCKET_PATH=/srv/umap/sockets/umap.sock
    env_file: ./database.env
    volumes:
      - ./umap.conf:/etc/umap/umap.conf
      - ./umapdata/symbols:/srv/umap/symbols:ro
      - ./umapdata/media_root:/srv/umap/media_root
      - ./umapdata/static_root:/srv/umap/static_root
      - ./sockets:/srv/umap/sockets
      - ./umapdata/custom:/srv/umap/custom:ro
      - ./scripts/admin:/srv/umap/scripts/admin:ro
      - umap_cache:/srv/umap/cache
    restart: always
    logging:
      driver: journald
    networks:
      - reverseproxy_web

  proxy:
    image: nginx:latest
    container_name: umap_proxy
    ports:
      - "127.0.0.1:{{ umap__proxy_port }}:80"
    volumes:
      - ./nginx-docker.conf:/etc/nginx/nginx.conf:ro
      - ./umapdata/symbols:/symbols:ro
      - ./umapdata/media_root:/srv/umap/media_root:ro
      - ./umapdata/static_root:/srv/umap/static_root:ro
      - ./sockets:/srv/umap/sockets:ro
      - ./logs/nginx:/var/log/nginx
      - ./nginx/run:/var/run/nginx
    depends_on:
      - app
    restart: always
    logging:
      driver: journald
    networks:
      - reverseproxy_web

volumes:
  umap_db:
    name: umap_db_data
  umap_cache:
    name: umap_cache_data
  umap_redis:
    name: umap_redis_data 