---
- name: Reload apache2
  ansible.builtin.systemd:
    name: apache2
    state: reloaded

- name: apache2 restart
  systemd:
    name: apache2
    state: restarted

- name: phpfpm restart
  systemd:
    name: "{{ wordpress__fpmservice }}"
    state: restarted

- name: phpfpm reload
  systemd:
    name: "{{ wordpress__fpmservice }}"
    state: reloaded
