[Unit]
Description=Listmonk Newsletter and Mailing List Manager
After=network.target postgresql.service

[Service]
Type=simple
User={{ listmonk__user }}
Group={{ listmonk__user }}
WorkingDirectory={{ listmonk__install_dir }}
ExecStart={{ listmonk__install_dir }}/listmonk --config {{ listmonk__install_dir }}/config.toml
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target