    vars.totalprocs = {
        procs_warning = ":700"
        procs_critical = ":1200"
    }

{% for mntpt in ('/', '/database', '/tilestoredisk', '/var/lib/postgresql') %}
    vars.disks["disk {{ mntpt }}"] = {
        disk_partitions = "{{ mntpt }}"
        disk_exact_match = true
    }

{% endfor %}
