    vars.totalprocs = {
        procs_warning = ":1000"
        procs_critical = ":1500"
    }

{% for mntpt in ('/', '/var/cache/tirex') %}
    vars.disks["disk {{ mntpt }}"] = {
        disk_partitions = "{{ mntpt }}"
        disk_exact_match = true
    }

{% endfor %}
