<VirtualHost 127.0.0.1:80>
        DocumentRoot /var/www/html
        ErrorLog ${APACHE_LOG_DIR}/localhost.error.log
        CustomLog ${APACHE_LOG_DIR}/localhost.access.log combined
</VirtualHost>

<VirtualHost ::1:80>
        DocumentRoot /var/www/html
        ErrorLog ${APACHE_LOG_DIR}/localhost.error.log
        CustomLog ${APACHE_LOG_DIR}/localhost.access.log combined
</VirtualHost>
