# SPDX-License-Identifier: MIT
---
- name: Install a few basic tools
  apt:
    name:
      - htop
      - screen
      - time
      - vim
      - cron

- name: Create dir for log file
  file:
    path: "/etc/systemd/journald.conf.d"
    state: directory


# Logging
- name: Ensure journald.conf settings
  ini_file:
    path: /etc/systemd/journald.conf.d/00-default.conf
    section: Journal
    option: "{{ item.option }}"
    value: "{{ item.value }}"
  with_items:
    - { option: 'SystemKeepFree', value: '500M' }
    - { option: 'MaxRetentionSec', value: '1month' }
  notify:
    - restart journald
