
{% call server(["tile.openstreetmap.de", "a.tile.openstreetmap.de", "b.tile.openstreetmap.de", "c.tile.openstreetmap.de", "d.tile.openstreetmap.de", tile__hostname], http='forward', https='tilede') %}
  ModTileRenderdSocketName /run/tirex/modtile.sock 
  ModTileTileDir           /var/cache/tirex/tiles
{% for style in styles | sort(attribute='order') %}
  AddTileConfig            /{{ style.url }} {{ style.name }}
{% endfor %}
  ModTileRequestTimeout    0
  ModTileMissingRequestTimeout 240
  ModTileMaxLoadOld 10
  ModTileMaxLoadMissing 12
  ModTileEnableTileThrottling On
  ModTileThrottlingTiles 10000 5
  # Anzahl nicht-vorgerenderte Tiles (400) danach eines alle 2 Sekunden
  ModTileThrottlingRenders 400 0.5
  ModTileCacheDurationMinimum 259200

  # Fremden Webseiten erlauben uns per Javascript
  # nachzuladen
  Header set Access-Control-Allow-Origin "*"

  DocumentRoot {{ tile__basedir }}/site
  <Directory {{ tile__basedir }}/site>
    Options FollowSymLinks MultiViews
    AllowOverride None
    Require all granted

    <IfModule mod_headers.c>
      Header set X-XSS-Protection "1; mode=block"
      Header set X-Frame-Options "SAMEORIGIN"
      Header set X-Content-Type-Options "nosniff"
      Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains"
      Header set Referrer-Policy "same-origin"
      Header always set Permissions-Policy "geolocation=(self), picture-in-picture=(), microphone=(), camera=(), usb=()"
      Header set Content-Security-Policy "default-src 'self' https://tile.openstreetmap.org/ https://bonne.openstreetmap.de/ https://ptolemy.openstreetmap.de/; script-src 'self' https://tile.openstreetmap.org/ https://bonne.openstreetmap.de/ https://ptolemy.openstreetmap.de/; connect-src 'self' bonne.openstreetmap.de ptolemy.openstreetmap.de nominatim.openstreetmap.org; img-src 'self' https://tile.openstreetmap.org/ https://bonne.openstreetmap.de/ https://ptolemy.openstreetmap.de/ data:; style-src 'self' 'unsafe-inline'; font-src 'self'; object-src 'none'; frame-src 'self'; worker-src 'self'; connect-src 'self'"
    </IfModule>
  </Directory>

  RewriteEngine on
  RedirectMatch 404 /\.git

  # Redirect old tile URL
  RewriteRule "^/tiles/osmhrb/(.*)$" "/osmhrb/$1" [R=permanent,L]
  RewriteRule "^/tiles/osmde/(.*)$" "/$1" [R=permanent,L]

  ProxyPass /tilesbw/ http://localhost:5000/ max=5 ttl=120 retry=0 disablereuse=On

  # use mod-rewrite to limit osmhrb style to a certain bounding box
  Rewritemap inbbox "prg:{{ tile__basedir }}/bin/inbbox.py -b 13.42 50.75 15.39 52.27 -m 8" www-data:www-data
  RewriteCond %{REQUEST_URI} ^/osmhrb
  RewriteCond ${inbbox:$1} "FALSE"
  RewriteRule "^/osmhrb/(.*)$" "/tilesbw/osmde/$1" [R,L]

  
{% endcall %}
