#!/bin/bash

python3 {{ expiretilessingle }} \
    --node-cache {{ tile__flatnode }} \
{% for s in styles %}
    -t /var/cache/tirex/tiles/{{ s.name }} \
{% endfor %}
    {{ difffile }}

DIR="/srv/tile/site/textimport"
FILE=""$DIR"/importdate.txt"

if [ ! -f "$FILE" ]; then
    touch "$FILE"
    if [ $? -ne 0 ]; then
        echo "Fehler: Datei $FILE konnte nicht erstellt werden"
        exit 1
    fi
fi

if [ ! -w "$FILE" ]; then
    echo "Fehler: Keine Schreibberechtigung für die Datei $FILE"
    exit 1
fi

psql -d osm -t -c "SELECT CASE WHEN property = 'replication_timestamp' THEN TO_CHAR(value::timestamp, 'DD.MM.YYYY HH24:MI:SS TZ') ELSE value END AS value FROM osm2pgsql_properties WHERE property IN ('replication_base_url',  'replication_timestamp');" > "$FILE"
psql -d osm -t -c "SELECT name, TO_CHAR(TO_DATE(last_modified, 'Dy, DD Mon YYYY HH24:MI:SS \"GMT\"'), 'DD.MM.YYYY') FROM external_data" >> "$FILE"
date "+Letzter Aufruf von 'Expire': %d.%m.%y %H:%M:%S (UTC)" >> "$FILE"
