#!/bin/bash

python3 {{ expiretilessingle }} \
    --node-cache {{ tile__flatnode }} \
{% for s in styles %}
    -t /var/cache/tirex/tiles/{{ s.name }} \
{% endfor %}
    {{ difffile }}

# Schreibe aktuelle Daten in die Datei /srv/tile/site/importdate.txt zur Anzeige im Footer der Website
sudo -u _tirex psql -d osm -t -c "SELECT url, TO_CHAR(importdate,'dd.mm.yyyy hh:mm') FROM planet_osm_replication_status" > /srv/tile/site/importdate.txt
sudo -u _tirex psql -d osm -t -c "SELECT name, TO_CHAR(TO_DATE(last_modified, 'Dy, DD Mon YYYY HH24:MI:SS "GMT"'), 'dd.mm.yyyy') FROM external_data" >> /srv/tile/site/importdate.txt
