<IfModule mpm_event_module>
        StartServers                     2
        MinSpareThreads         1200
        MaxSpareThreads         1200
        ServerLimit             100
        ThreadLimit                      64
        ThreadsPerChild          30
        MaxRequestWorkers         3000
        MaxConnectionsPerChild   0
</IfModule>
