#!/bin/bash

sudo -u {{ overpass__user }} rm {{ overpass__basedir }}/db/*

sudo -u {{ overpass__user }} {{ overpass__basedir }}/bin/download_clone.sh --source={{ overpass__clone_url }} --db-dir='{{ overpass__basedir }}/db' --meta={{ overpass__meta_mode }}

