<IfModule mpm_event_module>
        StartServers                     2
        MinSpareThreads         400
        MaxSpareThreads         4000
        ServerLimit             100
        ThreadLimit                      64
        ThreadsPerChild          40
        MaxRequestWorkers         4000
        MaxConnectionsPerChild   0
</IfModule>
