<IfModule mpm_event_module>
        StartServers                     2
        MinSpareThreads         600
        MaxSpareThreads         600
        ServerLimit             100
        ThreadLimit                      64
        ThreadsPerChild          25
        MaxRequestWorkers         600
        MaxConnectionsPerChild   0
</IfModule>
